<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"><!--引入thymeleaf-->
<meta name="referrer" content="no-referrer"/>
<!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title th:text="${sectionName}"></title>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/index.css">
</head>
<body class="body">
<!--导入导航栏-->
<div th:insert="~{navigation :: copy}"></div>
<!--个人中心的页面布局-->
<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-ss-12">
            <h2><span th:text="${sectionName}"></span></h2>
            <hr>
            <!--我的脚本-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-ss-12" th:if="${section}=='scripts'">
                <div class="media" th:each="script:${pagination.data}">
                    <div class="media-body">
                        <a th:href="@{'/script/'+${script.id}}" th:text="${script.title}"></a>
                        <br>
                        <span th:text="${#dates.format(script.createTime,'dd MMMM yyyy')}"></span>
                    </div>
                </div>
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        <li th:if="${pagination.showFirst}">
                            <a th:href="@{'/personal/'+${section}(page=${1})}" aria-label="Previous">
                                <span aria-hidden="true">&lt;&lt;</span>
                            </a>
                        </li>
                        <li th:if="${pagination.showPre}">
                            <a th:href="@{'/personal/'+${section}(page=${pagination.page - 1})}" aria-label="Previous">
                                <span aria-hidden="true">&lt;</span>
                            </a>
                        </li>
                        <li th:each="page:${pagination.pages}" th:class="${pagination.page==page}? 'active' : ''">
                            <a th:href="@{'/personal/'+${section}(page=${page})}" th:text="${page}"></a>
                        </li>
                        <li th:if="${pagination.showNext}">
                            <a th:href="@{'/personal/'+${section}(page=${pagination.page + 1})}" aria-label="Next">
                                <span aria-hidden="true">&gt;</span>
                            </a>
                        </li>
                        <li th:if="${pagination.showLast}">
                            <a th:href="@{'/personal/'+${section}(page=${pagination.totalPage})}" aria-label="Next">
                                <span aria-hidden="true">&gt;&gt;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>

        </div>
        <!--右侧的导航栏-->
        <div class="col-lg-3 col-md-12 col-sm-12 col-ss-12">
            <div class="list-group personal">
                <a href="/personal/scripts" th:class="${section=='scripts'}?'list-group-item active' : 'list-group-item' ">
                    我的脚本
                </a>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="/js/bootstrap.min.js"></script>
</body>
</html>